# ======================
# BACKEND
# ======================
API_PORT=8000
API_PREFIX=api

# ======================
# DATABASE
# ======================
DB_HOST=postgres-prod
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123
DB_DATABASE=mini_inventory_db
DB_SYNCHRONIZE=false

# ======================
# REDIS
# ======================
REDIS_HOST=redis-prod
REDIS_PORT=6379
REDIS_PASSWORD=123

# ======================
# JWT
# ======================
JWT_SECRET=abc
JWT_EXPIRES_IN=1d
TOKEN_TYPE=Bearer